* {
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    height: 100%;
    width: 100%;
    color: #222;
}

.navbar {
    padding: .8rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}

/* HERO About Me */
.hero {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/pexels-lukas-574070.jpg");
    background-size: cover;
    background-position: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 75px;
}

h2 {
    font-family: 'Pacifico';
    font-size: 50px;
}

.img-ferry {
    width: 300px;
    padding: 25px;
    border-radius: 5%;
}

/* HERO Portfolio Page*/
.hero-portfolio {
    height: 500px;
    width: 100%;
    background-image: url("./images/pexels-photomix-company-291777.jpg");
    background-size: cover;
    background-position: center;
}

/* HERO Resume */
.hero-resume {
    height: 450px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/pexels-negative-space-34578.jpg");
    background-size: cover;
    background-position: center;
}

.h1resume {
    text-align: center;
    padding-top: 60px;
    left: 50%;
}

#resumebtn {
    position: relative;
    left: 40%;

}

.social a {
    font-size: 4.5em;
    padding: 3rem;
}


.fa-github, .githubBtn {
    color: black;
}

.fa-instagram {
    color: #a52f70;
}


.fa-linkedin {
color: black;
}

.fa-youtube {
    color: black;
}

.fa-github:hover,
.fa-instagram:hover,
.fa-youtube:hover,
.githubBtn:hover,
.fa-linkedin:hover {
color: #d5d5d5;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
    text-align: center;
}
hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

@media (max-width: 992px) {
    .social a {
        font-size: 4em;
        padding: 2rem;
    }
    
}